<?xml version="1.0"?>
 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Payment:etc/payment.xsd">
    <default>
        <payment>
            <payment_integration>
                <active>1</active>
                <title>Payment Integration</title>
                <payment_action>authorize_capture</payment_action>
                <model>PaymentIntegrationAdapter</model>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_authorize>1</can_authorize>
                <cctypes>AE,VI,MC,DI,JCB,DN</cctypes>
                <xml_api_demo>https://api.demo.covergepay.com/VirtualMerchantDemo/processxml.do</xml_api_demo>
                <xml_api_endpoint_production>https://api.covergepay.com/VirtualMerchantDemo/processxml.do</xml_api_endpoint_production>
                <mode>demo</mode>
            </payment_integration>
        </payment>
    </default>
</config>
